<section class="container">
  <mat-grid-list cols='3'rowHeight='120px'>
    <mat-grid-tile [colspan]='3' [rowspan]='1'>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Your Email
            </mat-panel-title>
            <mat-panel-description>
              View | Change
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput
                   placeholder="new email"
                   type='email'>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile [colspan]='3' [rowspan]='1'>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Service History
            </mat-panel-title>
            <mat-panel-description>
              View | Change
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput
                    placeholder="new email"
                    type='email'>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</section>





