@import '../../../sass/mixins';

.container {
  @include container();
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'Bowlby One', cursive;
  font-size: 179px;
  color: cadetblue;
  display: flex;
  flex-direction: column;
  margin-block-start: 0.5em;
  margin-block-end: 0.2em;
  line-height: 13rem;
  &__spring {
      font-family: 'Marck Script', cursive;
      color: bisque;
  }
}
