<section class="pole-wrapper">
  <div class="pole">
      <div class="head"></div>
      <div class="head-base"></div>
      <div class="loader-head"></div>
      <div class="loader">
          <div class="inset">
              <div class="red"></div>
              <div class="blue"></div>
              <div class="red"></div>
              <div class="blue"></div>
              <div class="red"></div>
              <div class="blue"></div>
              <div class="red"></div>
              <div class="blue"></div>
          </div>
      </div>
      <div class="loader-base"></div>
      <div class="base"></div>
  </div>
</section>
